.input_group{
    @apply flex border rounded-xl;
    position: relative;
}

.input_text{
    @apply w-full py-2 px-3 border rounded-xl bg-slate-50 text-sm;
    @apply focus:outline-none border-none;
}

.button{
    @apply w-full bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md py-2 text-gray-50 text-sm mb-1 mt-3;
    @apply hover:bg-gradient-to-r hover:from-gray-50 hover:to-gray-100 border-blue-500 hover:text-gray-700 border;
}

.button_custom{
    @apply w-full border py-2 flex justify-center gap-2 hover:bg-gray-100 rounded-md text-sm my-1;
}

.input_text+*{
    color: #CBD5E1;
}

.input_text:focus+*{
    color: #6366f1;
}
